body.contact-layout {
  color: #fff;
}

.header {
  height: 40px;

  .navbar {
    height: 40px;
    font-size: 1.4rem;

    ul {
      @include quickflex(row, flex-end, center, nowrap);
    }

    .nav-item {
      text-transform: uppercase;
      margin-left: 1.4rem;
    }
  }
}
