// -------------------- Variables
$size: 600px;
// -------------------- END Variables

h1 {
  // background-image: url("../img/jacques-cartier.jpg");
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 49%,
    rgba(255, 255, 255, 1) 52%,
    rgba(0, 68, 102, 1) 55%,
    rgba(0, 68, 102, 1) 70%,
    rgba(0, 0, 0, 1) 100%
  );
  background-repeat: repeat;
  background-position: bottom;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // background-size: $size $size;
  background-size: $size;
  background-position: 0 0;
  animation: bg-anim 20s linear infinite;
}

@keyframes bg-anim {
  100% {
    background-position: $size 0, $size 0, $size 0;
  }
}
