body.more-layout {
  .App {
    background: linear-gradient(
      25deg,
      rgba(183, 231, 251, 1) 0%,
      rgba(183, 231, 251, 1) 80%,
      rgba(249, 203, 64, 0.6) 100%
    );
    position: fixed;
    top: 0;
  }
  .footer {
    position: fixed;
    bottom: 0;
  }
}

.more {
  position: relative;
  height: 100%;

  .more__values {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .more__value-wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
  }

  .more__value__text {
    width: 100px;
    height: 100px;
  }

  // ------------------ Bubbles
  // Inspired from Mark Bowley @ https://codepen.io/Mark_Bowley/pen/PozwyP

  .bubble {
    background: radial-gradient(
      ellipse at center,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    border-radius: 50%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2),
      inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    @include quickflex(row, center, center, wrap);
    position: absolute;
    height: 200px;
    width: 200px;
    font-weight: 500;
    font-size: 2.4rem;
  }

  @keyframes animateBubble {
    0% {
      top: 800px;
    }
    100% {
      top: -100%;
    }
  }

  @keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 50px;
    }
  }

  .x1 {
    animation: animateBubble 25s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    left: 90%;
    top: 5%;
    transform: scale(0.6);
    border: 2px solid;
  }

  .x2 {
    animation: animateBubble 20s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    left: 5%;
    top: 80%;
    transform: scale(0.4);
  }

  .x3 {
    animation: animateBubble 28s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    left: 10%;
    top: 40%;
    transform: scale(0.7);
  }

  .x4 {
    animation: animateBubble 22s linear infinite,
      sideWays 3s ease-in-out infinite alternate;
    left: 20%;
    top: 0;
    transform: scale(0.3);
  }

  .x5 {
    animation: animateBubble 29s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    left: 30%;
    top: 50%;
    transform: scale(0.5);
  }

  .x6 {
    animation: animateBubble 21s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    left: 50%;
    top: 0;
    transform: scale(0.8);
  }

  .x7 {
    animation: animateBubble 20s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    left: 65%;
    top: 70%;
    transform: scale(0.4);
  }

  .x8 {
    animation: animateBubble 22s linear infinite,
      sideWays 3s ease-in-out infinite alternate;
    left: 80%;
    top: 10%;
    transform: scale(0.3);
  }

  .x9 {
    animation: animateBubble 29s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    left: 90%;
    top: 50%;
    transform: scale(0.6);
  }

  .x10 {
    animation: animateBubble 26s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    left: 80%;
    top: 80%;
    transform: scale(0.3);
  }
}
