body.contact-layout {
  background-color: $dark;
  color: #fff;
  background-image: url("../../img/alexis-antonio-wGpUYzBqW20-unsplash90deg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .nav-mobile {
    color: $text;
  }

  .bar {
    background-color: #fff;
  }

  .nav-desktop .link-wrapper {
    @include link-wrapper(#fff);
  }

  .header .logo-wrapper .logo {
    fill: #fff;
  }

  .contact__link.email {
    display: none;
  }

  footer .footer__contact .contact__link.github {
    margin-right: 0;
  }
}

.contact {
  @include sct-margin;
  @include quickflex(column, center, flex-start, nowrap);

  .contact__text {
    text-align: left;
    color: #fff;
    margin-bottom: 100px;

    p {
      font-style: italic;
      font-size: 1.4rem;
      width: 200px;
    }
  }

  .contact-form__wrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    @include sct-margin-sm;
    position: relative;
    z-index: 99;

    @include __MIN(lg) {
      max-width: 50vw;
    }
  }

  #contact-form {
    @include quickflex(column, center, center, nowrap);
  }

  .contact-form__input {
    width: 100%;
    margin-bottom: 16px;
    min-height: 40px;
    padding: 8px;
    font-family: "Mulish", sans-serif;

    &:focus {
      outline: none;
      border: 2px solid $primary;
      border-radius: 2px;
    }
  }

  .contact-form__msg {
    min-height: 56px;
    font-family: "Mulish", sans-serif;
  }

  .contact-form__btn {
    margin-top: 16px;
  }

  .contact-form__confirmation-wrapper {
    margin-top: 16px;

    > span {
      visibility: hidden;

      &.visible {
        visibility: visible;
      }
    }
  }
}
