footer {
  width: 100%;
  height: $footer-h-sm;
  color: #fff;

  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;

  @include __MIN($footer-bp) {
    height: $footer-h-xl;
    padding-top: 20px;
  }

  .footer__contact {
    .contact__content {
      @include quickflex(column, center, center, nowrap);
    }

    .contact__title {
      margin: 0;

      @include __MIN(lg) {
        margin-top: 0.83rem;
        margin-bottom: 0.83rem;
      }
    }

    .contact__links {
      @include quickflex(row, center, center, nowrap);
    }

    .contact__link {
      font-weight: 400;
      transition: transform 0.3s ease;
      @include font-size-fluid(1.2rem, 1.5rem);

      &:hover {
        transform: scale(1.04);
      }
      &:not(:last-child) {
        margin-right: 1.4rem;
      }
    }
  }

  .footer__message {
    @include quickflex(row, center, center, nowrap);

    p {
      @include font-size-fluid(1.2rem, 1.5rem);
      font-weight: 400;
      font-style: italic;
      margin-top: 1rem;
    }

    .react:before {
      background-color: $primary;
    }

    .love:before {
      background-color: $secondary;
    }
  }
}

body:not(.contact-layout):not(.more-layout) footer {
  background-image: url("../../img/jacques-cartier.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
