footer {
  width: 100%;
  height: 180px;
  color: #fff;

  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;

  @include __MIN(lg) {
    padding-top: 20px;
  }

  .footer__contact {
    .contact__content {
      @include quickflex(column, center, center, nowrap);
    }
    .contact__links {
      @include quickflex(row, center, center, nowrap);
    }

    .contact__link {
      font-weight: 400;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.04);
      }
      &:not(:last-child) {
        margin-right: 1.4rem;
      }
    }
  }

  .footer__message {
    margin-top: 24px;
    @include quickflex(row, center, center, nowrap);

    p {
      font-size: 1.5rem;
      font-weight: 400;
      font-style: italic;
    }

    .react:before {
      background-color: $primary;
    }

    .love:before {
      background-color: $secondary;
    }
  }
}

body:not(.contact-layout):not(.more-layout) footer {
  background-image: url("../../img/jacques-cartier.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
