// -------------------- Variables
$bp: 700px;
// -------------------- END Variables

// -------------------- MOBILE
.nav-mobile {
  display: block;
  position: relative;

  .navbar {
    display: none;
    top: 0;
    right: 40px;
    position: absolute;
    z-index: 9999;
    opacity: 0;
    transition: all 0.35s ease-in-out;

    ul {
      @include quickflex(column, flex-start, flex-start, nowrap);
    }
  }

  .nav-item {
    margin-top: 16px;
    white-space: nowrap;
  }

  &.menuOpened {
    .navbar {
      display: block;
      opacity: 1;
      transition: all 0.35s ease-in-out;
    }
  }
}

// -------------------- Nav mobile background
.menu-bg {
  position: fixed;
  top: -200px;
  left: -230px;
  z-index: 1;
  width: 520px;
  height: 460px;
  background: radial-gradient(circle, $primary, $primary);
  border-radius: 50%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}

.menu-overlay {
  position: fixed;
  top: -468px;
  left: -470px;
  z-index: 1;
  opacity: 0.6;
  width: 1000px;
  height: 1000px;
  background: radial-gradient(circle, $dark, $dark);
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
  box-shadow: 0 3px 10px rgb(255 255 255 / 0.2);
  border: 1px solid #fff;
}

.nav-mobile.menuOpened {
  .menu-bg {
    display: block;
    transform: scale(1);
    top: -100px;
    left: auto;
    right: -110px;
    transition: all 0.4s ease-in-out;
  }

  .menu-overlay {
    transform: scale(1);
    top: -100px;
    left: -200px;
    transition: all 0.4s ease-in-out;
  }
}
// -------------------- END Nav mobile background

// -------------------- Burger button
#menu-bar {
  position: relative;
  z-index: 9999;
  width: 45px;
  margin: 40px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #000;
  display: block;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
  position: relative;
  z-index: 9999;
}

#bar1 {
  transform: translateY(-4px);

  &.menuOpened {
    transform: translateY(4px) rotateZ(-45deg);
  }
}

#bar2.menuOpened {
  opacity: 0;
}

#bar3 {
  transform: translateY(4px);

  &.menuOpened {
    transform: translateY(-6px) rotateZ(45deg);
  }
}

#menu-bar.menuOpened {
  #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }

  #bar2 {
    opacity: 0;
  }

  #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
}
// -------------------- END Burger button
// -------------------- END MOBILE

// -------------------- DESKTOP
.nav-desktop {
  display: none;

  .navbar {
    height: 40px;
    font-size: 1.4rem;

    ul {
      @include quickflex(row, flex-end, center, nowrap);
    }
  }
}

@include __MIN($bp) {
  .nav-mobile {
    display: none;
  }

  .nav-desktop {
    display: block;
  }
}
// -------------------- END DESKTOP

// -------------------- COMMON
.nav-item {
  text-transform: uppercase;
  margin-left: 1.4rem;
}
// -------------------- END COMMON
