$smart-breakpoints: (
  xxxs: 360px,
  xs: 451px,
  sm: 600px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1441px,
  xxxl: 1681px,
  wide: 1920px,
);

$footer-bp: lg;
$footer-h-sm: 100px;
$footer-h-xl: 120px;
